[submodule "bundle/vim-abolish"]
	path = bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "bundle/vim-ctrlp"]
	path = bundle/vim-ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/vim-delimitMate"]
	path = bundle/vim-delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/vim-gundo"]
	path = bundle/vim-gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/vim-nerdtree"]
	path = bundle/vim-nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-tcomment"]
	path = bundle/vim-tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "bundle/vim-taglist"]
	path = bundle/vim-taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/vim-syntastic"]
	path = bundle/vim-syntastic
	url = https://github.com/scrooloose/syntastic.git
